@font-face {
    font-family: digital;
    src: url(../fonts/digital-7.ttf);
}

.results-text {
    background-color: khaki;
    width: 150px;
    height: 40px;
    font-family: digital;
    font-size: 45px;
    width: 210px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    width: 50px;
    text-align: center;
    background-color: #222;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
    color: white;
}

.zero-number {
    width: 160px;
}


.calculator {
    margin: auto;
    margin-top: 30px;
    width: 261px;
    background-color: gainsboro;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .calculator > div {
        text-align: center;
    }

    .calculator:first-child {
        padding-top: 15px;
    }

#btnReset {
    background-color: red;
}
